body {
    font-size: 3.5vmin;
    cursor: none;
}
#map {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 40%;
    height: 100%;
    background: white;
    font-size: 0;
    cursor: none;
}
.fathom-container {
    position: absolute;
    right: 0;
    top: 0;
    width: 60%;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
div.slide {
    height: 100vh;
    width: 60vw;
    text-align: center;
    position: relative;
}
dt, dd {
    width: 45%;
    display: inline-block;
    margin: 0;
}
dt {
    text-align: right;
    font-weight: bold;
    padding-left: .5em;
}
dt::after {
    content: ":";
    font-weight: bold;
}
dd {
    padding-right: .5em;
}
dd, ul, ol {
    text-align: left;
}
.column {
    float: left;
    width: 50%;
    padding: 0 1em;
    box-sizing: border-box;
}
.column h3 {
    text-align: left;
}
.next {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 80%;
}
